@model IEnumerable<EntityLayer.Concreate.User>

@{
    ViewBag.Title = "ListUsers";
}

<a class="headerDesign">PERSONELLER</a>

    <table class="table customTable">
        <thead class="thead-dark">
            <tr>
                <th>
                    ad
                </th>
                <th>
                    telefon no
                </th>
                <th>
                    email
                </th>
                <th>
                    adres
                </th>
                <th>
                    pozisyon
                </th>
                <th>
                    kayıt tarihi
                </th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.UserName
                    </td>
                    <td>
                        @item.UserPhone
                    </td>
                    <td>
                        @item.UserMail
                    </td>
                    <td>
                        @item.UserAddress
                    </td>
                    <td>
                        @item.UserPosition
                    </td>
                    <td>
                        @item.UserDate
                    </td>
                    <td>
                        <a href="~/User/ShowRapor/@item.UserId" class="btn btn-outline-primary my-2 my-sm-0"> Personel raporu</a>
                    </td>
                </tr>
            }

        </tbody>



    </table>


