@using EntityLayer.Concreate
@model List<Job>
@{
    ViewBag.Title = "ShowRapor";
}

<a class="headerDesign">PERSONEL RAPORU</a>
<form asp-action="ShowRapor" asp-controller="User" method="get">
    <select name="deger">
        <option value="1">
            Günlük Rapor
        </option>
        <option value="30">
            Aylik Rapor
        </option>
        <option value="365">
            Yıllık Rapor
        </option>
    </select>
    <button type="submit">Listele</button>
</form>

@if (Model != null)
{
    <table class="table customTable">

      <thead class="thead-dark">
          <tr>

              <th> ÇAĞRI OLUŞTURAN MUSTERİ ADI</th>
              <th> İŞ AÇIKLAMASI</th>
              <th> İŞ DURUMU</th>
              <th> ÇAGRI KODU</th>
              <th> ILGILENEN PERSONEL </th>
              <th>*</th>

          </tr>
      </thead>
        <tfoot>
            <tr>
                <th>
                    BU PERSONEL TARAFINDAN CEVAPLANAN TELEFON: @ViewBag.count
                </th>
                <th>
                    BU PERSONEL TARAFINDAN TAMAMLANAN İŞ: @ViewBag.tamamlananis
                </th>
            </tr>
        </tfoot>
        <tbody>


            @foreach (var item in Model)
            {

            <tr>
                <td> @item.CallLog.Customer.CustomerName </td>
                <td> @item.JobDescription </td>
                <td> @item.JobStatus </td>
                <td> @item.CallLogId </td>
                <td>@item.User.UserName</td>
                <td> <a class="btn btn-outline-success my-2 my-sm-0" href="/CallLog/Index/@item.CallLogId?persoId=@item.UserId ">Cagri Detayı</a></td>
            </tr>


            }

           
       
        </tbody>


    </table>
}