@using EntityLayer.Concreate
@model List<Job>
@{
    ViewBag.Title = "ShowRapor";
}

<h2 style="text-align:center">Show Rapor</h2>
<form asp-action="ShowRapor" asp-controller="User" method="get">
    <select name="deger">
        <option value="gunluk">
            Günlük Rapor
        </option>
        <option value="aylik">
            Aylik Rapor
        </option>
        <option value="yillik">
            Yıllık Rapor
        </option>
    </select>
    <button type="submit">Listele</button>
</form>


<table class="table">
    <thead>
        <tr>

            <td> ÇAĞRI OLUŞTURAN MUSTERİ ADI</td>

            <td> İŞ AÇIKLAMASI</td>
            <td> İŞ DURUMU</td>
            <td> ÇAGRI KODU</td>       
                <td> ILGILENEN PERSONEL </td>
            <td>*</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.CallLog.Customer.CustomerName </td>
                <td> @item.JobDescription </td>
                <td> @item.JobStatus </td>
                <td> @item.CallLogId </td>         
                    <td>@item.User.UserName</td>       
                <td>@Html.ActionLink("Cagri Detayı", "Index", "CallLog", new { id = item.CallLogId, persoId = item.UserId }, new { id = item.CallLogId })  </td>

            </tr>
        }
    </tbody>


</table>