@using EntityLayer.Concreate
@model IEnumerable<Job>

@{
    ViewData["Title"] = "Index";
}


<h3 style="text-align:right">
    @Html.ActionLink("yeni is kayıt olustur", "CreateJob", "JobAdd")
</h3>

<h1 style="text-align:center;margin-top:30px"> İŞ KAYITLARI</h1>

<!-- 4 5 farklı sıralanmış tablo gonderecegim js ile kontrol edip ona göre listetecegim


    -->
<form method="get" id="filter">
    <div class="form-group">
        <input type="text" name="ad" class="form-control" placeholder="Ada Gore Filtrele " />
    </div>
    <div class="form-group">
        <input type="number" name="numara" class="form-control" placeholder="Çağrı koduna filtrele " />
    </div>
    <div class="form-group">
        <p>CagrıKoduna Gore</p>
        <select name="siralama">
            <option value="ASC">
                ARTAN
            </option>
            <option value="DESC">
                AZALAN
            </option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" name="submit" class="form-control" placeholder="Adı " />
    </div>
</form>
<br />
<br />

<table class="table" id="ornek">
    <thead>
        <tr>

            <td> ÇAĞRI OLUŞTURAN MUSTERİ ADI</td>

            <td> İŞ AÇIKLAMASI</td>
            <td> İŞ DURUMU</td>
            <td> ÇAGRI KODU</td>
            @if (Convert.ToInt32(Session["roleId"]) == 2)
            {
                <td> ILGILENEN PERSONEL </td>
            }

            <td>*</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td> @item.CallLog.Customer.CustomerName </td>
                <td> @item.JobDescription </td>
                <td> @item.JobStatus </td>
                <td> @item.CallLogId </td>
                @if (Convert.ToInt32(Session["roleId"]) == 2)
                {
                    <td>@item.User.UserName</td>
                }
                <td>@Html.ActionLink("Detaay", "Index", "CallLog", new { id = item.CallLogId,persoId=item.UserId }, new { id = item.CallLogId })  </td>

            </tr>
        }
    </tbody>


</table>

