@using EntityLayer.Concreate
@model List<Customer>
@{

    ViewBag.Title = "ListCustomers";

}
<h2 style="text-align:center">Kayıtlı Müşteriler </h2>
<table class="table" id="ornek">
    <thead>
        <tr>
            <td>Muşteri Id</td>
            <td> Müşteri Adı</td>
            <td> Müşteri Telefon</td>
            <td> Müşteri Adresi</td>
            <td> Müşteri Kayıt Tarihi</td>
            <td>*</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CustomerId</td>
                <td> @item.CustomerName </td>
                <td> @item.CustomerPhone </td>
                <td> @item.CustomerAddress </td>
                <td> @item.CustomerDate </td>
                <td>
                    <button id="butonss" type="button">
                        <p style="color:black">  @Html.ActionLink("Çağrı Kayıtları", "Cagrilar", "CallLog", new { id = item.CustomerId }, "")</p>
                    </button>
                </td>
            </tr>
        }

    </tbody>


</table>
}
