@using EntityLayer.Concreate
@model List<CallLog>
@{
    ViewBag.Title = "Cagrilar";
}

<h2>Cagrilar</h2>

<div class="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table" id="ornek">
                    <thead>
                        <tr>
                            <td>CallLogId</td>
                            <td> CalllNumber</td>
                            <td> CallLogDesc</td>
                            <td> CallLogStatus</td>
                            <td> CreatingTime</td>
                            <td width="300px"></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CallLogId</td>
                                <td> @item.CalllNumber </td>
                                <td> @item.CallLogDesc </td>
                                <td> @item.CallLogStatus </td>
                                <td> @item.CreatingTime </td>
                                <td><button>ekle</button></td>
                            </tr>
                        }

                    </tbody>


                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>