@model EntityLayer.Concreate.CallLog

@{
    ViewBag.Title = "Index";

    var ya = Model.CallLogStatus.Value;
    var za = !ya;

    var onemli = true;
    var onemliDe = false;

    var onemliS = ViewData["isImportant"].ToString();
    if (onemliS == "True")
    {
        onemli = true;
        onemliDe = !onemli;

    }
    else if (onemliS == "False")
    {
        onemli = false;
        onemliDe = !onemli;
    }

    var jobId = Convert.ToInt32(ViewData["jobId"].ToString());
}


@if (Model == null)
{
    <h1>@ViewBag.hata</h1>

}

else
{
    <h2>ÇAĞRI DETAY SAYFASI</h2>

    <table class="table">
        <tr>
            <th style="display:none">

                ÇAĞRI ID
            </th>
            <th>
                MÜŞTERİ ADI
            </th>
            <th>
                ÇAĞRI AÇIKLAMASI
            </th>
            <th>
                ÇAĞRI DURUMU
            </th>
            <th>
                ÇAĞRI OLUŞTURMA ZAMANI
            </th>
            <th>
                ÇAĞRU SON GUNCELLEME ZAMANI
            </th>
            <th>
                ÇAĞRU NUMARASI
            </th>
            <th>GUNCELLE</th>
        </tr>


        @using (Html.BeginForm("Index", "CallLog", FormMethod.Post))
        {


            <tr>
                <td style="display:none">
                    @Html.TextBoxFor(c => c.CallLogId, new { @readonly = true })
                </td>
                <td>
                    @Html.TextBoxFor(c => c.Customer.CustomerName, new { @readonly = true })
                </td>
                <td>
                    @Html.TextBoxFor(c => c.CallLogDesc)
                </td>
                <td>
                    <select name="CallLogStatus" disabled>
                        <option value="@ya">
                            @ya
                        </option>
                        <option value="@za">
                            @za
                        </option>

                    </select>
                <td>
                    @Html.TextBoxFor(c => c.CreatingTime, new { @readonly = true })
                </td>
                <td>
                    @Html.TextBoxFor(c => c.UpdatingTime, new { @readonly = true })
                </td>
                <td>
                    @Html.TextBoxFor(c => c.CalllNumber, new { @readonly = true })
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </td>
            </tr>

        }




    </table>

    <h2> BU ÇAĞRIYA SAHİP İŞ </h2>

    <table class="table" >
        <tr>
            <th style="display:none">
                İŞ İD
            </th>
            <th>
                İŞ AÇIKLAMASI
            </th>
            <th>
                İŞ ÇÖZME YÖNTEMLERİ
            </th>
            <th>
                ÖNEMLİ Mİ?
            </th>

            <th>
                OLUŞTURMA ZAMANI
            </th>
            <th>
                SON GUNCELLEME ZAMANI
            </th>
            <th>
                OLUŞTURAN PERSONEL
            </th>
            <th>GUNCELLE/KALDIR</th>
        </tr>


        @using (Html.BeginForm("JobUpdate", "JobAdd", FormMethod.Post))
        {
            <tr>
                <td style="display:none">
                    <input type="text" value="@ViewData["jobId"]" name="JobId" />
                </td>
                <td>
                    <input type="text" value="@ViewData["jobDesc"]" name="JobDescription" />
                </td>
                <td>
                    <input type="text" value="@ViewData["JobMethods"]" name="JobMethods" />
                </td>
                <td>
                    <select name="IsImportant">
                        <option value="@onemli.ToString()">
                            @onemli
                        </option>
                        <option value="@onemliDe.ToString()">
                            @onemliDe
                        </option>
                    </select>
                </td>


                <td>
                    <input type="text" value="@ViewData["creatingTime"]" name="creatingTime" readonly />
                </td>
                <td>
                    <input type="text" value="@ViewData["updatingTime"]" name="updatingTime" readonly />
                </td>
                <td>
                    <input type="text" value="@ViewData["isOlusturan"]" readonly />
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                    <a class="btn btn-outline-danger my-2 my-sm-0" href="/JobAdd/JobDelete/@jobId">Kaldır</a>

                </td>
            </tr>

        }

    </table>
}
