@model EntityLayer.Concreate.CallLog

@{
    ViewBag.Title = "Index";

    var ya = Model.CallLogStatus.Value;
    var za = !ya;

    var onemli=true;
    var onemliDe=false;

    var onemliS = ViewData["isImportant"].ToString();
    if (onemliS == "true")
    {
         onemli = true;
         onemliDe = !onemli;

    }
    else if (onemliS == "false")
    {
         onemli = false;
         onemliDe = !onemli;
    }

    var jobSta1 = ViewData["jobStatus"].ToString();
    var jobSta2 = "aktif";

    if (jobSta1 == "aktif")
    {
        jobSta2 = "deaktif";
    }

}


@if (Model == null)
{
    <h1>@ViewBag.hata</h1>

}

else
{
    <h2>ÇAĞRI DETAY SAYFASI</h2>

    <table class="table" style="margin-left:-185px">
        <tr>
            <th>

               ÇAĞRI ID
            </th>
            <th>
                MÜŞTERİ ADI
            </th>
            <th>
               ÇAĞRI AÇIKLAMASI
            </th>
            <th>
                ÇAĞRI DURUMU
            </th>
            <th>
               ÇAĞRI OLUŞTURMA ZAMANI
            </th>
            <th>
               ÇAĞRU SON GUNCELLEME ZAMANI
            </th>
            <th>
                ÇAĞRU NUMARASI
            </th>
            <th>*</th>
        </tr>


        @using (Html.BeginForm("Index", "CallLog", FormMethod.Post))
        {


            <tr>
                <td>
                    @Html.TextBoxFor(c => c.CallLogId, new { @readonly = true })
                </td>
                <td>
                    @Html.TextBoxFor(c => c.Customer.CustomerName, new { @readonly = true })
                </td>
                <td>
                    @Html.TextBoxFor(c => c.CallLogDesc)
                </td>
                <td>
                    <select name="CallLogStatus" disabled>
                        <option value="@ya">
                            @ya
                        </option>
                        <option value="@za">
                            @za
                        </option>


                    </select>
                <td>
                    @Html.TextBoxFor(c => c.CreatingTime, new { @readonly = true })
                </td>
                <td>
                    @Html.TextBoxFor(c => c.UpdatingTime, new { @readonly = true })
                </td>
                <td>
                    @Html.TextBoxFor(c => c.CalllNumber, new { @readonly = true })
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Update</button>
                </td>
            </tr>

        }




    </table>

    <h2> BU ÇAĞRIYA SAHİP İŞ </h2>

    <table class="table" style="margin-left:-185px">
        <tr>
            <th style="display:none">
                job id
            </th>
            <th>
                job desc
            </th>
            <th>
                job methods
            </th>
            <th>
                onemli mi
            </th>
            <th>
                job status
            </th>
            <th>
                creating tme
            </th>
            <th>
                updating time
            </th>
            <th>
                iş olusturan persoenel Ad
            </th>
            <th>Change Status</th>
        </tr>


        @using (Html.BeginForm("JobDelete", "JobAdd", FormMethod.Post))
        {
            <tr>
                <td style="display:none">
                    <input type="text" value="@ViewData["jobId"]" name="JobId" />
                </td>
                <td>
                    <input type="text" value="@ViewData["jobDesc"]" name="JobDescription" />
                </td>
                <td>
                    <input type="text" value="@ViewData["JobMethods"]" name="JobMethods" />
                </td>
                <td>
                    <select name="IsImportant">
                        <option value="@onemli">
                            @onemli
                        </option>
                        <option value="@onemliDe">
                            @onemliDe
                        </option>
                    </select>
                </td>
                <td>
                    <select name="JobStatus">
                        <option value="@jobSta1">
                            @jobSta1
                        </option>
                        <option value="@jobSta2">
                            @jobSta2
                        </option>
                    </select>
                </td>
                <td>
                    <input type="text" value="@ViewData["creatingTime"]" name="creatingTime" readonly />
                </td>
                <td>
                    <input type="text" value="@ViewData["updatingTime"]" name="updatingTime" readonly />
                </td>
                <td>
                    <input type="text" value="@ViewData["isOlusturan"]" readonly />
                </td>
                <td>
                    <button type="submit" class="btn btn-danger">Sil</button>
                </td>
            </tr>

        }

    </table>
}
