@model IEnumerable<EntityLayer.Concreate.CallLog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Model == null)
{
    <h1>@ViewBag.hata</h1>
}
else
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CallLogDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CallLogStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CalllNumber)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CallLogDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CallLogStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatingTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalllNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CallLogId }) |

                </td>
            </tr>
        }

    </table>

}
