@model frameWorkProje.Models.UserLoginModel
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Login.css" rel="stylesheet" />
<div class="wrapper fadeInDown">
    <div id="formContent">
     
        <!-- Login Form -->
        @ViewBag.mesaj <br />

        @using (Html.BeginForm("Index", "Login", FormMethod.Post))
        {
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Kullanici Adı" })<br />

            @Html.LabelFor(m => m.PassWord)
            @Html.PasswordFor(m => m.PassWord, new { @class = "form-control", placeholder = "Şifre"})<br />

            <input type="submit" class="fadeIn fourth" value="Log In">
        }



    </div>
</div>